@model IEnumerable<Consegna_Biblioteca.Models.Prestito_Pivot>

@{
    ViewBag.Title = "Prestiti";
}

<h2>Prestiti</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Documento.Titolo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utente.Nome)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Documento.Titolo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utente.Nome)
        </td>
        <td>
            @Html.ActionLink("Archivia", "ArchiviaPrestito", new { id=item.Id_Prestito }, new { @class = "LinkAzione" })
        </td>
    </tr>
}

</table>
